* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}

header {
  background-color: #000000;
  padding: 20px;
  display: flex;
  flex-wrap: flex-end;
}

header div {
  background-color: rgb(131 199 199);
  position: absolute;
  left: 0;
  padding: 14px;
}

h1 {
  font-size: 36px;
  display:flex;
  flex-wrap: wrap;
  color: #000000;
  }

header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #ffffff;
}


header nav ul li {
  display: block;
  padding: 10px;
  font-size: 20px;
  white-space: nowrap;
}

header nav ul li a {
  color: rgb(131 199 199);
  text-decoration: none;
  border-bottom: 2px solid rgb(131 199 199);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
}

section {
  padding: 250px;
}

.hero {
  padding: 35px;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: 25% 75%;
  background-attachment: absolute;
  display: flex;
  justify-content: flex-end;
  color: black;
  font-size: 17px;
  font-style: italic;
  }

.hero h2 {
  background: white;
  opacity: 0.5;
}

.hero div {
  padding: 40px;
  width: 40%;
  margin: 3.5%;
  display: flex;
  justify-content: flex-end;
  }

.content {
  padding: 100px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.me {
  padding: 20px;
  margin-bottom: 20%;
  display: flex;
  justify-content:flex-start;
  }

.section-title {
  display: flex;
  justify-content: flex-start;
  font-size: 52px;
  }

.flex-row  {
  padding: 20px;
  }

.flex-row1 {
  border-right-style: solid;
  padding: 20px;
}

.flex-row2 {
  border-right-style: solid;
  padding: 20px;
}

.flex-row3 {
  border-right-style: solid;
  padding: 20px;
}

.flex-row4 {
  border-right-style: solid;
  padding: 20px;
}

.flex-row5 {
  border-right-style: solid;
  padding: 20px;
}

h2:not(.hero h2) {
  color: rgb(60, 91, 138)
}

.relative h2 {
  position: relative;
  right: 20px;
  bottom: 15px;
}

.flex-row p {
  display:flex;
  justify-content: center;
  padding: 50px;
  margin: -6%;
  line-height: 1.75;
  }

.work {
  padding: 20px;
  margin-bottom: 20%;
  display: flex;
  justify-content:flex-start;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px
}

.section-title {
  width: 45%;
  border: 4px solid rgb(131 199 199);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/horiseon.jpg");
  background-size: 465px;
}

.section-title-1 {
  width: 100%;
  border: 4px solid rgb(131 199 199);
  margin-bottom: 15px;
  padding: 175px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  background-image: url("../images/run-buddy.jpg");
  background-size: auto;
  
}

.section-title2 {
  width: 45%;
  border: 4px solid rgb(131 199 199);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(131 199 199);
}

.section-title2 a {
  position: relative;
  bottom: 13.5px;
  right: 164px;
}

.flex-row3 a {
  position: relative;
  right: 175px;
  top: 145px;
  background-color: rgb(131 199 199);
}

.section-title a {
  position: relative;
  right: 156px;
  bottom: 15px;
  background-color: rgb(131 199 199);
}

.contact {
  padding: 20px;
  margin-bottom: 20%;
  display: flex;
  justify-content:flex-start;
}

.links nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  
}

.links nav ul li {
  padding: 80px;
}

.links nav ul li a {
  border-bottom: 4px solid rgb(60, 91, 138);
  padding-bottom: 5px;
  }

@media screen and (max-width: 575px) {
  
  header div {
    position: relative;
    top: 10px;
    left: 8px;
  }
  
  h1 {
    font-size: 16px;
  }
  
  header nav ul li a {
    font-size: 8px;
  }

  .hero h2 {
  font-size: 10px;
  }

  .me {
  position: relative;
  text-align: center;
  font-size: 16px;
  
  }

  .flex-row1 {
    border-right-style: none;
    border-bottom-style: solid;
  }

  .flex-row {
    padding: 60px;
    position: relative;
    right: 210px;
    display: flex;
    flex-direction: row;

    
    
  }
  

  .work {
    position: relative;
    text-align: center;
    font-size: 16px;
  }

  .flex-row2 {
    border-right-style: none;
    border-bottom-style: solid;
  }

  .projects {
    padding: 5px;
    position: relative;
    right: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-title-1 {
    background-size: 750px;
  }

  .section-title .section-title2 {
    width: 150%;
  }

  .section-title a {
    position: unset;
  }
  
  .section-title2 a {
    position: unset; 
  }

  .contact {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 150px;
    font-size: 16px;

  }
    
  .links nav ul li {
    padding: 10px;
    display: flex;
    justify-content: start;

    

  }
  .flex-row4 {
    border-right-style: none;
  }
  .flex-row4 h2 {
    
    border-bottom-style: solid;
}